 <div >
         <div class="sp-container">
        <div class="sp-content">
          <div class="sp-globe"></div>
          <h2 class="frame-1">Smart Village !!</h2>
          <h2 class="frame-2">To transform your village into</h2>
          <h2 class="frame-3">a smart one</h2>
          <h2 class="frame-4">Be a part of it</h2>
          <h2 class="frame-5"><span>.</span> <span>Give hands as a</span> <span>Moderator.</span></h2>
          <a class="sp-circle-link" href="index2.html">Click!</a>
        </div>
      </div>
        </div>