<div ng-controller="VillageCtrl" >



<div class="col-xs-5" style="height: 300px;">


	<h2 ng-show="setLocation"> Welcome to {{mylocation}}</h2>
 



    



    
   

</div>
</div>

<div id="my-modal" class="modal fade in">
    <div class="modal-dialog">
          <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Set Your district or Village</h4>
      </div>
      <div class="modal-body">       

         <pre>Model: {{asyncSelected | json}}</pre>
    <input type="text" ng-model="asyncSelected" placeholder="Type your district" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary" ng-click="setLocation()">Save changes</button>
      </div>
    </div> 
</div>

<!-- <div class="modal-backdrop fade in"></div> -->

